@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
	.radial-bg {
		background-image: radial-gradient(circle at center, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	}

	.radial-scissors {
		background-image: radial-gradient(circle at center, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
	}
	.radial-paper {
		background-image: radial-gradient(circle at center, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
	}
	.radial-rock {
		background-image: radial-gradient(circle at center, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
	}
	.radial-lizard {
		background-image: radial-gradient(circle at center, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
	}
	.radial-cyan {
		background-image: radial-gradient(circle at center, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
	}
}
